# venvs
.venv*/
.venv_mac*/
venv*/
ENV*/

# builds and caches
dist/
build/
__pycache__/
*.spec
*.pyc

# large data and artefacts
*.parquet
*.ndjson
*.bin


# OS cruft
.DS_Store
Thumbs.db

# extra big files to ignore
tab_results_master.ndjson
tab_schedule_master.ndjson
runners_flat.csv

